// Colors
$textPrimary: #2196F3;
$textBody: #4A4A4A;
$textSecondary: #A0B0B9;

// Background color
$bgMain: #E5E5E5;
$bgPrimary: #2196F3;
$bgHover: #F1FCFF;
$bgBody: #FFFFFF;


// Font
$fontFamily: 'Open Sans', sans-serif;

// Media
$laptop: 1024px;
$tablet: 768px;
$mobile-l: 425px;
$mobile-m: 375px;
$mobile-s: 320px;

// OTHER
//$transition: 0.4s all;
//$offset: 187;
//$duration: 1.4s;
$boxShadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
$borderRadius: 5px;
