@import "../../styles/variables.scss";

.price {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: $textPrimary;
  text-transform: uppercase;
}

.secondary {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: $textSecondary;
}

.primary {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: $textBody;
}

.card__logo {
  margin-right: 30px;
  width: 110px;
  height: 36px;
}

@mixin card__tickets {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;

}

.card__tickets_header {
  @include card__tickets;
  align-items: center;
  margin-bottom: 20px;
}

.card__tickets_ticket {
  @include card__tickets;
}

.card__tickets_ticket:last-child {
  margin-bottom: 0;
}

.card__parts {
  display: flex;
  flex-direction: column;
  flex-basis: 33%;
}

@media screen and (min-width: $mobile-s) and (max-width: $mobile-l) {
  .card__logo {
    margin-right: 0;
  }
}